foo {
  function {
    description = "fraont"
    parameters {
      type = "object"
      properties {}
      required = []
    }
  }
  class = ""
}
bar {
  function {
    description = "asdf"
    parameters {
      type = "object"
      properties {
        rt {
          type = [
            "integer"
          ]
          description = "dsf"
        }
      }
      required = [
        "rt"
      ]
    }
  }
  class = "m.n"
}