llm_config {
  model_name = "gpt-4.5-preview-2025-02-27"
  temperature = 0.5
}
tools = [
  {
    name = "abc"
    class = ""
    function {
      description = "fraont"
      parameters {
        type = "object"
        properties {}
        required = []
      }
    }
    instructions = ""
    command = ""
    tools = [
      "dasf"
    ]
    llm_config {
      model_name = "gpt-4.5-preview-2025-02-27"
      temperature = 0.5
    }
  }
  {
    name = "dasf"
    class = "m.n"
    function {
      description = "asdf"
      parameters {
        type = "object"
        properties {
          rt {
            type = [
              "integer"
            ]
            description = "dsf"
          }
        }
        required = [
          "rt"
        ]
      }
    }
    instructions = ""
    command = ""
    tools = []
    llm_config {
      model_name = "gpt-4.5-preview-2025-02-27"
      temperature = 0.5
    }
  }
]